@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-base;
    }
    h5 {
        @apply text-sm;
    }
    h6 {
        @apply text-xs;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#581c87
    , #581c87)
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}